#App{
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: 180px auto;
}
#header{
  grid-row: 1 / span 1;
  grid-column: 1 / span 2;
}
#shimapanempty{
  height: 55px;
}
#shimapanblue{
  background-color: #1caad9;
  width: 100%;
  height: 65px;
  padding: 15px;
}
#shimapanblue > span{
  margin-left: 50px;
  font-size: 18px;
  color: white;
}
#shimapanlightblue{
  background-color: #dbf0ff;
  width: 100%;
  height: 50px;
}
#shimapanwhite{
  background-color: white;
  width: 100%;
  height: 10px;
}
#navbar{
  position: fixed;
  width: 100%;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
#homewrapper{
  grid-row: 2 / span 1;
  grid-column: 1 / span 2;
}
#home{

}
#contentwrapper{
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  background-color: #dae0e6;
  min-height: 80vh;
  padding: 20px;
}
#content{
  border-radius: 5px;
  background-color: white;
  min-height: 80vh;
  border: 1px solid lightgray;
}
#editbarwrapper{
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
  background-color: #dae0e6;
  padding: 20px;
  min-height: 80vh;
}
#editbar{
  border-radius: 5px;
  background-color: white;
  min-height: 80vh;
  border: 1px solid lightgray;
}



#logogroup{
  color: black;
  margin-left: 10px;
  display: inline-block;
}
#logoimage{
  background: url(/images/vastlogosimple.svg);
  border-radius: 50px;
  display: inline-block;
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  vertical-align: middle;
}
#logotext{
  display: inline-block;
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
  font-size: 30px;
  vertical-align: middle;
  margin: 5px 0px 5px 10px;
}
#exploregroup{
  display: inline-block;
  margin-left: 80px;
}
#uncontrolleddropdown{
  list-style-type: none;
}
#explorebutton{
  font-family: 'Titillium Web', sans-serif;
  color: black;
  font-weight: bold;
  transition: all 0.1s ease;
}
#explorebutton:hover{
  color: #1caad9;
}
.exploreoptions{
  color: black;
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
  transition: all 0.1s ease;
  display: block;
  padding: .25rem 1.5rem;
}
.exploreoptions:hover{
  text-decoration: none;
  color: #1caad9 !important;
}
#searchgroup{
  margin-left: 80px;
  display: inline-block;
}
#searchform > input{
  width: 600px;
  background: #ffffff;
  padding: 5px;
  font-size: 16px;
  border: 1px solid lightgray;
  vertical-align: middle;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}
#searchbutton{
  height: 36px;
  width: 70px;
  vertical-align: middle;
  border: 1px solid #cccccc;
  border-left-style: none;
  border-radius: 3px;
  background: url(/images/searchicon.svg);
  background-repeat: no-repeat;
  background-color: #eeeeee;
  background-size: 23px;
  background-position: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}